{% extends 'layout.html' %}

{% block content %}
<h1>Entradas</h1>

<div class="row mb-4">
  <div class="col-md-6">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-header">Valor Total Gasto com Reposições (Mês Atual)</div>
      <div class="card-body">
        <h5 class="card-title">R$ {{ valor_gasto_reposicoes|round(2) }}</h5>
      </div>
    </div>
  </div>
</div>

<!-- Botão para acionar o modal -->
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addEntradaModal">
  Adicionar Nova
</button>

<!-- Modal de Adicionar -->
<div class="modal fade" id="addEntradaModal" tabindex="-1" aria-labelledby="addEntradaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEntradaModalLabel">Adicionar Nova Entrada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('main.entradas') }}" method="post">
          <div class="mb-3">
            <label for="produto_id" class="form-label">Produto</label>
            <select class="form-select" id="produto_id_entrada" name="produto_id" required>
              {% for produto in produtos_all %}
              <option value="{{ produto.id }}">{{ produto.nome }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="quantidade" class="form-label">Quantidade</label>
            <input type="number" class="form-control" id="quantidade" name="quantidade" required>
          </div>
          <div class="mb-3">
            <label for="custo_unitario" class="form-label">Custo Unitário</label>
            <input type="number" step="0.01" class="form-control" id="custo_unitario" name="custo_unitario" required>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function matchCustom(params, data) {
    if ($.trim(params.term) === '') { return data; }
    if (typeof data.text === 'undefined') { return null; }
    if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) > -1) {
      return data;
    }
    return null;
  }

  $('#addEntradaModal').on('shown.bs.modal', function () {
      $('#produto_id_entrada').select2({
          dropdownParent: $('#addEntradaModal'),
          matcher: matchCustom
      });
  });
</script>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Data</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Custo Unitário</th>
      <th>Custo Total</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody id="entry-list">
    {% include 'partials/_entradas_lista.html' %}
  </tbody>
</table>

<div id="modal-container">
    {% include 'partials/_entradas_modals.html' %}
</div>

{% if pagination.has_next %}
<div class="text-center my-4">
    <button id="ver-mais-btn" class="btn btn-secondary" data-next-page="{{ pagination.next_num }}">Ver Mais</button>
</div>
{% endif %}

<script>
$(document).ready(function() {
    $('#ver-mais-btn').on('click', function() {
        var button = $(this);
        var nextPage = button.data('next-page');
        var url = `{{ url_for('main.entradas') }}?page=${nextPage}`;

        $.getJSON(url, function(data) {
            if (data.table_html.trim() !== '') {
                $('#entry-list').append(data.table_html);
                $('#modal-container').append(data.modals_html);
                button.data('next-page', nextPage + 1);
            }

            if (!data.has_next) {
                button.hide();
            }
        });
    });
});
</script>

{% endblock %}