{% extends 'layout.html' %}

{% block content %}
<h1>Saídas</h1>

<!-- Botão para acionar o modal -->
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addSaidaModal">
  Adicionar Nova
</button>

<!-- Modal de Adicionar -->
<div class="modal fade" id="addSaidaModal" tabindex="-1" aria-labelledby="addSaidaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSaidaModalLabel">Adicionar Nova Saída</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('main.saidas') }}" method="post">
          <div class="mb-3">
            <label for="produto_id" class="form-label">Produto</label>
            <select class="form-select" id="produto_id_saida" name="produto_id" required>
              {% for produto in produtos_all %}
              <option value="{{ produto.id }}">{{ produto.nome }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="quantidade" class="form-label">Quantidade</label>
            <input type="number" class="form-control" id="quantidade" name="quantidade" required>
          </div>
          <div class="mb-3">
            <label for="preco_unitario" class="form-label">Preço Unitário</label>
            <input type="number" step="0.01" class="form-control" id="preco_unitario" name="preco_unitario" required>
          </div>
          <div class="mb-3">
            <label for="forma_pagamento" class="form-label">Forma de Pagamento</label>
            <input type="text" class="form-control" id="forma_pagamento" name="forma_pagamento">
          </div>
          <div class="mb-3">
            <label for="cliente" class="form-label">Cliente</label>
            <input type="text" class="form-control" id="cliente" name="cliente">
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function matchCustom(params, data) {
    if ($.trim(params.term) === '') { return data; }
    if (typeof data.text === 'undefined') { return null; }
    if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) > -1) {
      return data;
    }
    return null;
  }

  $('#addSaidaModal').on('shown.bs.modal', function () {
    $('#produto_id_saida').select2({
      dropdownParent: $('#addSaidaModal'),
      matcher: matchCustom
    });
  });
</script>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Data</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Preço Unitário</th>
      <th>Total da Venda</th>
      <th>Forma de Pagamento</th>
      <th>Cliente</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody id="saida-list">
    {% include 'partials/_saidas_lista.html' %}
  </tbody>
</table>

<div id="modal-container">
    {% include 'partials/_saidas_modals.html' %}
</div>

{% if pagination.has_next %}
<div class="text-center my-4">
    <button id="ver-mais-btn" class="btn btn-secondary" data-next-page="{{ pagination.next_num }}">Ver Mais</button>
</div>
{% endif %}

<script>
function imprimirNota(saidaId) {
    const url = `/nota_produto/${saidaId}`;
    const janela = window.open(url, "_blank", "width=350,height=500");
}

$(document).ready(function() {
    $('#ver-mais-btn').on('click', function() {
        var button = $(this);
        var nextPage = button.data('next-page');
        var url = `{{ url_for('main.saidas') }}?page=${nextPage}`;

        $.getJSON(url, function(data) {
            if (data.table_html.trim() !== '') {
                $('#saida-list').append(data.table_html);
                $('#modal-container').append(data.modals_html);
                button.data('next-page', nextPage + 1);
            }

            if (!data.has_next) {
                button.hide();
            }
        });
    });
});
</script>

{% endblock %}